.message-container {
    height: calc(100vh - 4rem);
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0;
}

.message-container .message-content {
    width: 100%;
    height: 100%;
    padding: 1rem;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
    margin-bottom: 5rem;
}

.message-container .message-content .message {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1rem;
}

.message-container .message-content .message:hover {
    background-color: var(--background-hover);
    cursor: pointer;
}

.message-container .message-content .message .message-text {
    display: flex;
    flex-direction: column;
    margin-left: 0.5rem;
    width: 85%;
}

.message-container .message-content .message .message-header {
    width: 100%;
    display: flex;
    align-items: center;
    color: var(--text-colour);
}

.message-container .message-content .message .message-header .profile-name {
    font-size: 1.25rem;
    display: flex;
    align-self: flex-start;
    font-weight: 200;
}

.message-container .message-content .message .message-header .message-time {
    font-size: 1rem;
    margin-left: 0.5rem;
    color: var(--text-colour-secondary);
}

.message-container .message-content .message .message-text p {
    font-size: 1rem;
}

.message-container .message-content .message .profile-pic {
    min-width: 3rem;
    min-height: 3rem;
    max-width: 3rem;
    max-height: 3rem;
}

.message-container .message-content .message .profile-pic img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.message-container .message-content .message .message-body {
    color: var(--text-colour)
}

.message-container .message-footer {
    width: 75%;
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    margin-top: auto;
    padding-top: 0;
    bottom: 0;
}

.message-container .message-footer h2 {
    font-size: 1.5rem;
    font-weight: 100;
    color: var(--text-colour);
}


.message-container .message-footer input {
    width: 80%;
    height: 2.5rem;
    border: 1px solid var(--border-standard);
    border-radius: 1rem;
    padding: 0 1rem;
    color: var(--text-colour);
    background-color: var(--background);
}

.message-container .message-footer input:focus {
    outline: none;
}

.message-container .message-footer .send-button {
    width: 7.5rem;
    height: 2.5rem;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 0.75rem;
    border: 1px solid var(--border-standard);
    background-color: var(--background);
    margin-left: 0.5rem;
}

.message-container .message-footer .send-button:hover {
    background: var(--background-hover);
}

.message-container .message-footer .attach-button {
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
    margin-left: 0.5rem;
    background-color: var(--background);
    border: 1px solid var(--border-standard);
}

.message-container .message-footer .attach-button:hover {
    background: var(--background-hover);
}

.message-container .message-footer .reply-notify {
    width: fit-content;
    height: 1rem;
    background-color: var(--background);
    color: var(--text-colour);
    position: absolute;
    top: 1.5rem;
    left: 1rem;
    display: flex;
    align-items: center;
    padding: 0.5rem;
}

.message-container .message-footer .reply-notify p {
    font-size: 0.9rem;
    font-weight: 100;
}

.message-container .message-content .message:hover .edit-content {
    display: flex;
}


.edit-content {
    display: none;
    position: relative;
    background-color: var(--background-secondary);
    height: fit-content;
    width: fit-content;
    max-width: 7.5rem;
    border: 1px solid var(--border-standard);
    margin-top: -1rem;
    border-radius: 0.5rem;
}

.edit-content .edit-button {
    width: 1.5rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-content .edit-button:hover {
    background-color: var(--background-hover-secondary);
}

.edit-content .edit-button .icon {
    font-size: 1.25rem;
    color: var(--text-colour-secondary);
}

.create-message-container {
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.807);
    z-index: 999;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-message-container .create-message-content {
    width: 40rem;
    height: 30rem;
    background-color: var(--background);
    border: 1px solid var(--border-standard);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.create-message-container .create-message-content .back-button {
    width: 2.5rem;
    height: 2.5rem;
    margin-left: -0.5rem;
    margin-top: -0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
    background-color: var(--background);
    border: none;
    color: var(--icon-colour);
}

.create-message-container .create-message-content .back-button:hover {
    background: var(--background-hover);
}

.create-message-container .create-message-content h2 {
    font-size: 1.5rem;
    font-weight: 100;
    margin-top: 0.5rem;
    color: var(--text-colour);
}

.create-message-container .create-message-content .create-message input {   
    width: 100%;
    height: 2rem;
    border: none;
    border-bottom: 1px solid var(--border-standard);
    background-color: transparent;
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
    margin-top: 1rem;
}

.create-message-container .create-message-content input {
    color: var(--text-colour);
}

.create-message-container .create-message-content .create-message input:focus {
    outline: none;
}   

.create-message-container .create-message-content .create-button-container {
    width: 100%;
    height: 5rem;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.create-message-container .create-message-content .create-button-container button {
    height: 3rem;
    width: 10rem;
    background-color: var(--background-secondary);
    border: 1px solid var(--border-standard);
    border-radius: 0.5rem;
}

.create-message-container .create-message-content .create-button-container button:hover {
    transform: scale(1.05);
    background-color: var(--background-hover);
}

.create-message-container .create-message-content .create-button-container h3 {
    font-size: 1.5rem;
    font-weight: 100;
    color: var(--text-colour)
}

.create-message-container .create-message-content .error-message {
    width: 100%;
    display: flex;
    justify-content: center;
    color: red;
}

.no-message-information-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-message-information-container .no-message-information {
    font-size: 0.75rem;
    font-weight: 100;
    color: var(--text-colour-secondary);
}

.editMessage {
    width: 20rem;
    margin-top: 0.25rem;
    padding: 0.25rem;
    border: 1px solid var(--border-standard);
    background-color: var(--background);
    color: var(--text-colour);
}

.reply-container {
    max-width: 20rem;
    margin-left: 0.5em;
    display: flex;
    flex-direction: row;
}

.reply-container .reply-line {
    width: 1rem;
    margin-right: 0.25rem;
    color: var(--text-colour-special);
}

.reply-max-width {
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
    width: fit-content;
    white-space: nowrap;
    text-decoration: underline;
}

.message-mobile-container {
    height: 4rem;
    width: 100%;
    background-color: var(--background);
    position: relative;
    align-items: center;
    justify-content: flex-start;
    color: var(--icon-colour);
    padding-left: 1rem;
    font-size: 2.5rem;
    display: none;
}

.message-mobile-container .message-mobile-icon {
    position: absolute;
}

.message-mobile-container button {
    background-color: transparent;
    color: var(--icon-colour);
    width: 3rem;
    height: 3rem;
    font-size: 2.5rem;
    border: transparent;
}

.message-mobile-container .message-mobile-user {
    margin-left: auto;
    margin-right: auto;
    font-size: 1.75rem;
}

.blocked {
    color: red;
    background-color: var(--background);
    position: absolute;
    margin-top: -2rem;
    margin-left: 1rem;
    padding: 1rem;
    font-size: 1.25rem;
}

@media screen and (min-width: 769px) {
    .message-container {
        width: 75%;
        display: flex;
    }
}



@media screen and (max-width: 768px) {
    .message-container {
        width: 100%;
    }

    .message-container .message-footer {
        width: 100%;
        padding-right: 2rem;
    }

    .message-container .message-footer input {
        width: 100%;
    }

    .message-container .message-footer .send-button {
        display: none;
    }

    .message-mobile-container {
        display: flex;
    }
}