.reset-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--background);
}

.reset-password-container .reset-password h1 {
    color: var(--text-colour);
    font-size: 2rem;
    font-weight: 100;
}

.reset-password-container .reset-password p {
    color: var(--text-colour);
    font-size: 1rem;
    font-weight: 100;
    margin-top: 0.5rem;
    text-align: center;
}

.reset-password-container .reset-password {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25rem;
}

.reset-password-container .reset-password .reset-password-input {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;
}

.reset-password-container .reset-password .reset-password-input input {
    border: 1px solid var(--background-tertiary);
}


.reset-password-container .reset-password .reset-password-input #email {
    padding: 10px;
    width: 80%;
    margin-bottom: 0.5rem;
}

.reset-password-container .reset-password .reset-password-input #email:focus {
    outline: none;
}

.reset-password-container .reset-password button {
    padding: 10px;
    width: 80%;
    background-color: var(--background-secondary);
    color: var(--text-colour);
    border: none;
    border-radius: 0.25rem;
    margin-top: 0.25rem;
}

.reset-password-container .reset-password button:hover {
    background-color: var(--background-tertiary);
}

.reset-password-container #error-message{
    color: red;    
}
