* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background);
}

.main-container {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    font-size: .75em;
    position: absolute;
    width: fit-content;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    background-color: var(--background-secondary);
    color: var(--text-colour);
    border: 1px solid var(--border-standard);
    text-align: center;
    padding: .5em;
    border-radius: .5em;
    transition: all 0.4s 1s ease;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip:not(:hover) .tooltiptext {
    visibility: hidden;
    transition: visibility 0s;
}

.alert-container {
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.alert {
    width: 25%;
    padding: 0.5em;
    background-color: var(--background-secondary);
    border: 1px solid var(--border-standard);
    color: var(--text-colour);
    text-align: center;
    animation: fade-down 1s ease;
    margin-top: 1em;
    border-radius: .5em;
    animation: fade-down 1s ease;
}

.load {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.loader {
    width: 60px;
    aspect-ratio: 2;
    --_g: no-repeat radial-gradient(circle closest-side,var(--icon-colour) 90%,#0000);
    background: 
      var(--_g) 0%   50%,
      var(--_g) 50%  50%,
      var(--_g) 100% 50%;
    background-size: calc(100%/3) 50%;
    animation: l3 1s infinite linear;
}

@keyframes l3 {
    20%{background-position:0%   0%, 50%  50%,100%  50%}
    40%{background-position:0% 100%, 50%   0%,100%  50%}
    60%{background-position:0%  50%, 50% 100%,100%   0%}
    80%{background-position:0%  50%, 50%  50%,100% 100%}
}

@keyframes fade-down {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}